<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">图书管理系统</div>
                <div class="panel-body">
                    <label>书号:</label>
                    <input type="text" v-model="id">
                    <label>名称:</label>
                    <input type="text" v-model="name">
                    <label>作者:</label>
                    <input type="text" v-model="author">
                    <label>价格:</label>
                    <input type="text" v-model="price">
                    <button type="button" class="btn btn-primary" v-on:click="add()">添加</button>
                    <button type="button" class="btn btn-success">提交</button>
                </div>
        
                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>图书编号</th>
                            <th>图书名称</th>
                            <th>作者</th>
                            <th>价格</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <!-- 一般来说 v-for是用来展示表格的 -->
                    <tbody v-for="(item, index) in books">
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.author}}</td>
                            <td>{{item.price}}</td>
                            <td>
                                <button type="button" class="btn btn-info">修改</button>
                                <button type="button" class="btn btn-danger" v-on:click="del(index)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div> 
    </div>
</body>
<script src="./lib/vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            books:[
            {id:1,name:"三国演义",author:"罗贯中",price:99},
            {id:2,name:"水浒传",author:"施耐庵",price:99},
            {id:3,name:"红楼梦",author:"曹雪芹",price:99},
            {id:4,name:"西游记",author:"吴承恩",price:99},
            ],
            id:'',
            name:'',
            author:'',
            price:''
        },
        methods: {
            add(){
                if(this.id==null||this.id==''){
                    alert('书号不可为空');
                    return;
                }
                for (let i = 0; i < this.books.length; i++) {
                    if (this.books[i].id==this.id) {
                        alert("无法添加重复记录");
                        return;
                    }
                    
                }
                this.books.push({
                    id:this.id,
                    name:this.name,
                    author:this.author,
                    price:this.price
                })
            },
            del(index){
                this.books.splice(index,1);
            }
            
        },
        
    })
</script>
</html>